
:root{

    --primary:#8b5cf6;
    --secondary:#a855f7;
    --accent:#c084fc;

    --dark:#050505;
    --dark2:#12081f;

}



*{

    margin:0;
    padding:0;

    box-sizing:border-box;

    scroll-behavior:smooth;

}



html{

    scroll-behavior:smooth;

}



body{


    font-family:
    "Segoe UI",
    Arial,
    sans-serif;



    background:

    linear-gradient(

        135deg,

        #050505,

        #12081f,

        #1d0f33

    );



    color:white;


    overflow-x:hidden;


}






/* ФОН */


#particles{


    position:fixed;


    inset:0;


    z-index:-3;


}



.overlay{


    position:fixed;


    inset:0;



    background:

    radial-gradient(

        circle,

        rgba(

            139,

            92,

            246,

            .18

        ),

        transparent 70%

    );



    z-index:-2;


}








/* МУЗЫКА */


.music-player{


    position:fixed;


    right:20px;


    bottom:20px;


    z-index:5000;


}



#musicBtn{


    background:

    linear-gradient(

        45deg,

        #6d28d9,

        #8b5cf6

    );



    color:white;


    border:none;


    padding:

    13px 22px;


    border-radius:50px;


    cursor:pointer;


    font-weight:700;



    box-shadow:

    0 0 20px

    rgba(

        139,

        92,

        246,

        .5

    );



    transition:.3s;


}



#musicBtn:hover{


    transform:

    scale(1.08);


}







/* СЕКЦИИ */


section{


    min-height:auto;


    padding:

    70px 20px;


}



.hero{


    min-height:90vh;


    display:flex;


    justify-content:center;


    align-items:center;


    text-align:center;


}



.hero-content{


    max-width:900px;


}







.badge{


    display:inline-block;


    padding:

    10px 20px;


    margin-bottom:25px;



    border-radius:50px;



    background:

    rgba(

        139,

        92,

        246,

        .15

    );



    border:

    1px solid

    rgba(

        139,

        92,

        246,

        .3

    );


}








/* ГЛАВНЫЙ ЗАГОЛОВОК */


.hero h1{


    font-size:

    clamp(

        2.8rem,

        6vw,

        5rem

    );



    color:#d8b4fe;


    animation:

    glow 3s infinite alternate;


}



@keyframes glow{


    from{


        text-shadow:

        0 0 10px

        #8b5cf6;


    }



    to{


        text-shadow:

        0 0 35px

        #c084fc;


    }


}







.hero p{


    margin-top:25px;


    font-size:1.2rem;


    line-height:1.8;


    color:#ddd;


}

/* =====================
   КНОПКИ
===================== */


.hero-buttons{

    margin-top:40px;

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}



.btn{


    padding:

    15px 35px;


    border:none;


    border-radius:50px;


    cursor:pointer;


    font-size:1rem;


    transition:.35s;


}



.primary{


    background:

    linear-gradient(

        45deg,

        #6d28d9,

        #8b5cf6

    );


    color:white;


}



.secondary{


    background:

    rgba(

        255,

        255,

        255,

        .05

    );


    color:white;


    border:

    1px solid

    rgba(

        255,

        255,

        255,

        .3

    );


}



.btn:hover{


    transform:

    translateY(-5px)

    scale(1.05);


    box-shadow:

    0 0 30px

    #8b5cf6;


}







/* =====================
   КАРТОЧКИ
===================== */


.card{


    max-width:1100px;


    margin:auto;



    padding:40px;



    border-radius:30px;



    background:

    rgba(

        20,

        20,

        30,

        .55

    );



    backdrop-filter:

    blur(15px);



    border:

    1px solid

    rgba(

        139,

        92,

        246,

        .25

    );



    box-shadow:

    0 0 40px

    rgba(

        139,

        92,

        246,

        .15

    );



}




.card h2{


    text-align:center;


    color:#d8b4fe;


    font-size:2rem;


    margin-bottom:30px;


}







/* ПОЗДРАВЛЕНИЕ */


.message-text{


    text-align:center;


    font-size:1.15rem;


    line-height:2;


    color:#eee;


}








/* =====================
   29 ЛЕТ
===================== */


.age-card{


    text-align:center;


}



.age-number{


    font-size:8rem;


    font-weight:900;


    color:#c084fc;


    text-shadow:

    0 0 30px

    #8b5cf6;



    animation:

    numberGlow 3s infinite alternate;


}



@keyframes numberGlow{


    from{


        transform:

        scale(1);


    }


    to{


        transform:

        scale(1.08);


    }


}



.age-card p{


    font-size:1.25rem;


    line-height:2;


    color:#ddd;


}








/* =====================
   ГАЛЕРЕЯ
===================== */


.gallery{


    display:grid;


    grid-template-columns:

    repeat(

        auto-fit,

        minmax(

            220px,

            1fr

        )

    );



    gap:20px;


}



.gallery img{


    width:100%;


    height:280px;


    object-fit:cover;


    border-radius:20px;


    cursor:pointer;



    transition:.4s;


}



.gallery img:hover{


    transform:

    scale(1.05);



    box-shadow:

    0 0 30px

    #8b5cf6;


}









/* =====================
   ПОЖЕЛАНИЯ
===================== */


.wishes{


    display:grid;


    grid-template-columns:

    repeat(

        auto-fit,

        minmax(

            220px,

            1fr

        )

    );



    gap:20px;


}




.wish{


    padding:25px;


    text-align:center;


    border-radius:20px;



    background:

    rgba(

        139,

        92,

        246,

        .12

    );



    border:

    1px solid

    rgba(

        139,

        92,

        246,

        .3

    );



    transition:.3s;


}



.wish:hover{


    transform:

    translateY(-5px);


}







/* =====================
   ТОРТ
===================== */


.cake-card{


    text-align:center;


}



.birthday-cake{


    position:relative;


    margin:40px auto;


    width:260px;


}



.cake-top{


    font-size:120px;


    animation:

    cakeMove 3s infinite;


}



@keyframes cakeMove{


    50%{


        transform:

        translateY(-12px);


    }


}



.candles{


    position:absolute;


    top:-15px;


    left:0;


    right:0;


    display:flex;


    justify-content:center;


    gap:25px;


}



.candle{


    width:12px;


    height:45px;


    background:white;


    border-radius:5px;


}



.fire{


    display:block;


    margin-top:-35px;


    font-size:25px;


    animation:

    fire 1s infinite;


}



@keyframes fire{


    50%{


        transform:

        scale(1.3);


    }


}



#wishMessage{


    display:none;


    margin-top:30px;


    font-size:1.4rem;


    color:#d8b4fe;


}

/* =====================
   ВОЛШЕБНАЯ КНОПКА
===================== */


.magic-card{

    text-align:center;

}



.magic-icon{


    font-size:80px;


    margin:25px;


    animation:

    magicFloat 3s infinite;


}



@keyframes magicFloat{


    50%{


        transform:

        translateY(-15px)

        rotate(10deg);


    }


}



.magic-btn{


    position:relative;


    overflow:hidden;


}



.magic-btn::after{


    content:"";


    position:absolute;


    inset:0;


    background:

    linear-gradient(

        120deg,

        transparent,

        rgba(

            255,

            255,

            255,

            .5

        ),

        transparent

    );


    transform:

    translateX(-100%);


}



.magic-btn:hover::after{


    transform:

    translateX(100%);


    transition:.7s;


}



#magicMessage{


    display:none;


    margin-top:30px;


    font-size:1.4rem;


    color:#d8b4fe;


}









/* =====================
   ФИНАЛ
===================== */


#final{


    display:flex;


    justify-content:center;


}



.final-card{


    max-width:850px;


    padding:60px;


    text-align:center;



    border-radius:40px;



    background:

    rgba(

        20,

        10,

        40,

        .65

    );



    border:

    1px solid

    rgba(

        139,

        92,

        246,

        .3

    );



    box-shadow:

    0 0 60px

    rgba(

        139,

        92,

        246,

        .35

    );


}



.final-heart{


    font-size:100px;


    animation:

    heartBeat 2s infinite;


}



@keyframes heartBeat{


    50%{


        transform:

        scale(1.2);


    }


}



.final-card h2{


    font-size:2.8rem;


    color:#d8b4fe;


}



.final-card p{


    margin-top:25px;


    font-size:1.2rem;


    line-height:2;


}



.final-cake{


    font-size:100px;


    margin:30px;


}








/* =====================
   ПАДАЮЩИЕ ОБЪЕКТЫ
===================== */


.fall-item{


    position:fixed;


    top:-60px;


    z-index:9999;


    pointer-events:none;


    user-select:none;


    filter:

    drop-shadow(

        0 0 12px

        #8b5cf6

    );


}



@keyframes fall{


    from{


        transform:

        translateY(-60px)

        rotate(0deg);


        opacity:1;


    }



    to{


        transform:

        translateY(110vh)

        rotate(360deg);


        opacity:0;


    }


}







/* =====================
   LIGHTBOX
===================== */


.lightbox{


    position:fixed;


    inset:0;


    display:none;


    justify-content:center;


    align-items:center;


    background:

    rgba(

        0,

        0,

        0,

        .9

    );


    z-index:99999;


}



.lightbox img{


    max-width:90%;


    max-height:90%;


    border-radius:25px;


}







/* =====================
   ПОЯВЛЕНИЕ
===================== */


.hidden{


    opacity:0;


    transform:

    translateY(40px);


    transition:

    0.8s;


}



.show{


    opacity:1;


    transform:

    translateY(0);


}





footer{


    text-align:center;


    padding:40px;


    color:#ccc;


}









/* =====================
   ПК ОПТИМИЗАЦИЯ
===================== */


@media(min-width:1200px){



    section{


        padding-left:80px;

        padding-right:80px;


    }


}









/* =====================
   ТЕЛЕФОН
===================== */


@media(max-width:768px){



    section{


        padding:

        45px 15px;


    }




    .card{


        padding:25px;


        border-radius:22px;


    }




    .hero h1{


        font-size:2.5rem;


    }




    .hero p{


        font-size:1rem;


    }




    .btn{


        width:100%;


        max-width:320px;


    }




    .age-number{


        font-size:5rem;


    }




    .gallery{


        grid-template-columns:

        repeat(

            2,

            1fr

        );


    }




    .gallery img{


        height:170px;


    }





    .final-card{


        padding:35px 20px;


    }




    .final-card h2{


        font-size:2rem;


    }




    .final-heart{


        font-size:70px;


    }




    .birthday-cake{


        transform:

        scale(.8);


    }



}






/* слабые устройства */


@media(max-width:480px){



    #particles{


        opacity:.5;


    }




    .fall-item{


        font-size:20px!important;


    }



}